footer{
    margin-top: 12vmax;
    background-color: #df3500;
    padding: 2vmax;
    align-content: center;
    display: flex;
    align-items: center;
}
#footer h3{
  font-size: 1.6vmax;
  font-family: "Times New Roman";
}
#footer h3:after{
  content: '';
  display: block;
  clear: both;
  background-color:white;
  height: 2.5px;
  width: 100px;
  margin: 10px 0 0;
}
#footer ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#footer .menu-list li{
  margin: 0.5vmax auto;
  font-size: 1.5vmax;
  font-family: "Times New Roman";
  color: white;
}
#footer .menu-list li a{
  color: #fff;
  font-size: 1.5vmax;
  letter-spacing: 0.5px;
  text-decoration: none;
  display: inline-block;
  font-family: "Times New Roman";
}

#footer .menu-list li a:hover{
  color: black;
}
.leftFooter {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.midFooter {
  width: 60%;
  text-align: center;
}
.midFooter > h1 {
  font-size: 3vmax;
  font-family: "Times New Roman";
  color:black;
}
.midFooter > p {
  font-size: 1.7vmax;
  font-family: "Times New Roman";
  margin: 1.5vmax auto;
  color: white;
}
.rightFooter {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 600px) {
  footer{
      flex-direction: column;
  }
  .leftFooter {
    text-align: center;
  }
  .midFooter {
    width: 60%;
    text-align: center;
  }
  .rightFooter {
    text-align: center;
  }
}

